    .e-card {
    border-radius: 25px 25px 25px 25px;
    width: 450px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    background-color: antiquewhite;
  }

  .collaborate {
    width: 200px;
    height: 40px;
    padding: 5px;
    text-align: center;
    margin-left: 100px;

  }