.row {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

button {
  background-color: #00cec9;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 10px;
  margin: 10px 50px;
  cursor: pointer;
}
 