.e-card-image {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWNjsSKFFcTGWeW7MLUK4W0IjnGpLmtemVlw&usqp=CAU');
  height: 260px;
  ;
}

.e-card {
  border-radius: 25px 25px 25px 25px;
  width: 650px;
  height: 300px;
  margin: auto;
  margin-top: 10px;
}